<%= form_for(@article) do |f| %>
  <p><%= f.label :title %></p>
  <%= f.text_field :title %>

  <p><%= f.label :content %></p>

  <div id="editor">
   <%= @article.content %>
  </div>

  <%= f.submit %>
<% end %>


<script src="../../assets/javascripts/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
</script>
